div.board {
  height: 100%;
  overflow: hidden;
  width: 100%;
  background: #eab92d;
}

.board > .btn-add {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 0.75em;
  border-radius: 50%
}